body{
    background-color: orange;
}
.topinButtons {
    position: relative;
    align-items: center;
    float: right;
    font-size: 12px;
    overflow: hidden;
    width: 100px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    background-color: blue;
    color: white;
}
.logo-title {
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    margin-left: 10px;
    font-size: 35px;
    color: #112fb4;
}

.middleText {
    color: black;
    font-family: 'Marck Script', cursive;
    margin-left: 10px;
}
.signUp {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin: -5px;
}
.signUpForm {
    border: 2px solid black;
    padding: 15px 50px;
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #dddddd;
    width: 20%;
}

.signUpForm hr {
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
}

.signUpForm h1 {
    text-align: center;
}
.signUpForm form input {
    width: 100%;
    height: 30px;
    border: 2px solid #dddddd;
    color: #1b1717;
    margin-top: 2px;
    font-size: 15px;
}

.signUpForm form p {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 20px;
}

.signUpForm form .suBtn {
    width: 100%;
    margin: 30px 1%;
    height: 40px;
    color: white;
    justify-content: center;
    background-color: #4CAF50;
}

.signUpForm form input:focus {
    border-bottom: 2px solid #4CAF50;
}

.signUpForm form .suBtn:hover {
    border: 2px solid #4CAF50;
    background-color: #222831;
}

.signUpClose {
    font-size: 50px;
    float: right;
}

.signUpClose:hover {
    color: #4CAF50;
}




.signUpClose {
    font-size: 50px;
    float: right;
}



.signIn {
    position: fixed;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin: -5px;
}

.signInForm {
    border: 2px solid black;
    padding: 15px 50px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 20%;
    background-color: #dddddd;
    color: black;
}

.signInForm h1 {
    text-align: center;
}

.signInForm form input {
    width: 100%;
    height: 30px;
    margin-top: 2px;
    font-size: 15px;
    border: 2px solid #dddddd;
    color: #1b1717;
}

.signInForm hr {
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
}

.signInForm form input:focus {
    border-bottom: 2px solid #4CAF50;
}

.signInForm form p {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 20px;
}

.signInForm form .siBtn {
    background-color: #4CAF50;
    height: 30px;
    color: white;
    width: 100%;
    margin: 30px 1%;
    justify-content: center;
}

.signInForm form .siBtn:hover {
    border: 2px solid #4CAF50;
    background-color: #222831;
}

.signInForm .not_A_Member {
    text-align: center;
}

.signInForm .not_A_Member span {
    color: #112fb4;
}

.signInClose {
    font-size: 50px;
    float: right;
}

.signInClose:hover {
    color: #4CAF50;
}
.allPost {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.allPost .blog {
    background-color: white;
    overflow: hidden;
    margin: 10px 20px 10px 20px;
    width: 40%;
    border-radius: 20px;
    display: flex;
}
.allPost .blog h1 {
    font-size: 20px;
    background-color: white;
    padding: 0 20px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.allPost .blog .content {
    background-color: #dddddd;
    padding: 10px 20px;
}

.allPost .blog .content .delete {
    cursor: pointer;
}

.allPost .blog .content p {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 55px;
}

.allPost .blog .content img {
    float: right;
}
.configModel {
    position: fixed;
    display: none;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: -5px;
}
.configModel .configBox {
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 30%;
    border: none;
    padding: 15px 20px;
    background-color: #dddddd;
    text-align: center;
}
.configModel .configBox .boxButtons {
    display: flex;
    justify-content: center;
    width: 100%;
}
.configModel .configBox .boxButtons button {
    margin: 0 20%;
    padding: 2% 10%;
    color: white;
    border: none;
}
.confirmationModel .confirmationBox h1 {
    font-size: 19px;
}

.confirmationModel .confirmationBox .boxButtons #yes {
    background-color: #ff4d4d;
}

.configModel .configBox .boxButtons #no {
    background-color: #4CAF50;
}
/* cyrillic */

@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v8/nwpTtK2oNgBA3Or78gapdwuyzCg_WMM.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* latin-ext */

@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v8/nwpTtK2oNgBA3Or78gapdwuyxig_WMM.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v8/nwpTtK2oNgBA3Or78gapdwuyyCg_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */

@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v8/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

